<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setting</title>
    <link rel="stylesheet" href="../components.css">
    <link rel="stylesheet" href="./setting.css">
</head>

<body>
    <div class="title-bar">
        <div class="title" id="title">Setting</div>
        <p></p>
    </div>

    <div class="container">
        <div class="form-group">
            <label for="top">Always On Top</label>
            <input type="checkbox" name="top" id="top">
        </div>
        <div class="form-group">
            <label for="toggle-close-confirm">Show Close Confirm</label>
            <input type="checkbox" name="top" id="toggle-close-confirm">
        </div>

        <div class="btn-group">
            <button class="btn" id="close-setting-btn">OK</button>
        </div>
    </div>

    <script>
        require("./setting.js")
    </script>
</body>

</html>