<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setting</title>
    <link rel="stylesheet" href="../components.css">
    <link rel="stylesheet" href="./about.css">
</head>

<body>
    <div class="title-bar">
        <div class="title" id="title">About</div>
        <p></p>
        <button class="close-about-btn close-btn">Close</button>

    </div>

    <div class="container">
        <div class="info-container">
            <img class="logo" src="oca.png" alt="">
            <div class="info">
                <h2>OCA Media Player </h2>
                <small>Version: <span id="version"></span></small>
                <p>This is a simple media player that allow you to play audio and video files</p>
                <p>If you want to develop website or desktop and mobile applictions visit <a id="open-about-page"
                        href="#">ocawebtech</a> for
                    more info
                </p>
            </div>

        </div>

    </div>

    <script>
        require("./about.js")
    </script>
</body>

</html>